{% extends 'admin.twig' %}

{% block content %}

{# load macros #}
{% import 'macros.twig' as piwik %}
{% import 'ajaxMacros.twig' as ajax %}

<h2>Custom Opt-Out</h2>
{% if adminSites|length == 0 %}
    {{ 'SitesManager_NoWebsites'|translate }}
{% else %}

<form action="" method="post" ng-non-bindable style="width: 1300px">
    <table class="entityTable dataTable" id="editSites">
        <thead>
        <tr>
            <th>{{ 'General_Id'|translate }}</th>
            <th>{{ 'General_Name'|translate }}</th>
            <th>{{ 'SitesManager_Urls'|translate }}</th>
            <th>Custom Css</th>
            <th>External CSS File</th>
        </tr>
        </thead>
        <tbody>
        {% for i,site in adminSites %}
        <tr id="row{{ site.idsite }}" data-keep-url-fragments="{{ site.keep_url_fragment }}">
            <td style="vertical-align: top;">{{ site.idsite }}</td>
            <td style="vertical-align: top;" class="editableSite">
                {{- site.name|raw -}}
            </td>
            <td style="vertical-align: top;" class="editableSite">
                {%- for url in site.alias_urls -%}
                    {{- url|trim|replace({'http://': ''})|raw -}}<br />
                {%- endfor -%}
            </td>
            <td style="vertical-align: top; width: 50%;">
                <textarea cols="30" rows="3" {% if isEditorEnabled %}class="codemirror-textarea" data-codemirror-theme="{{ editorTheme }}"{% endif %} name="site[{{ site.idsite|escape('html_attr') }}][css]" style="width: 500px; height: 200px">{{- site.custom_css|raw -}}</textarea>
            </td>
            <td style="vertical-align: top;">
                <input type="text" size="30" name="site[{{ site.idsite|escape('html_attr') }}][file]" value="{{- site.custom_css_file -}}"/>
            </td>
        </tr>
        {% if enableJs %}
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Custom JS</th>
            <th>External JS File</th>
        </tr>
        <tr id="row-js{{ site.idsite }}" data-keep-url-fragments="{{ site.keep_url_fragment }}">
            <td style="vertical-align: top;" colspan="3">&nbsp;</td>
            <td style="vertical-align: top; width: 50%;">
                <textarea cols="30" rows="3" {% if isEditorEnabled %}class="codemirror-textarea-js" data-codemirror-theme="{{ editorTheme }}"{% endif %} name="site[{{ site.idsite|escape('html_attr') }}][js]" style="width: 500px; height: 200px">{{- site.custom_js|raw -}}</textarea>
            </td>
            <td style="vertical-align: top;">
                <input type="text" size="30" name="site[{{ site.idsite|escape('html_attr') }}][js_file]" value="{{- site.custom_js_file -}}"/>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="5">
                {% set optOutUrl %}{% spaceless %}
                    {% if showOldLinks %}
                        {{ piwikUrl }}index.php?module=CustomOptOut&action=optOut&idsite={{ site.idsite|escape('url') }}&language={{ language }}
                    {% else %}
                        {{ piwikUrl }}index.php?module=CoreAdminHome&action=optOut&idsite={{ site.idsite|escape('url') }}&language={{ language }}
                    {% endif %}
            {% endspaceless %}{% endset %}
                {% set iframeOptOut %}
                    <iframe style="border: 0; height: 200px; width: 600px;" src="{{ optOutUrl }}"></iframe>
                {% endset %}

                <code>{{ iframeOptOut|escape }}</code>
                <br/>
                {{ 'CoreAdminHome_OptOutExplanationBis'|translate("<a href='" ~ optOutUrl ~ "' target='_blank'>","</a>")|raw }}
            </td>
        {% endfor %}
    </table>

    <input type="submit" class="submit btn btn-lg" id='customOptOutSubmit' value="{{ 'General_Save'|translate }}"/>
</form>
{% endif %}

{% endblock %}
